body {
	image-rendering: pixelated;
	background-color: #000;
	color: #fff;
	font-family: serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	line-height: 1;
}

a{
	color: #fff;
	text-decoration: none;
}

h1{
	font-weight: normal;
	margin: 0;
	font-size: 72px;
	letter-spacing: 8px;
	transition: 0.25s ease;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.center {
	text-align: center;
}

.links {
	font-family: 'Jura';font-size: 24px;
	transition: 0.25s ease;
}


#logo {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 174px; /* Adjust according to your SVG's width */
	height: 20px; /* Adjust according to your SVG's height */
	transform: translate(16px, -16px); /* Adjust the translation */
	transition: 0.25s ease;
}

#br {
	position: fixed;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	padding-bottom: 12px;
	padding-right: 14px;
	font-family: 'Jura';
	font-size: 28px;
	transition: 0.25s ease;
}

#bc {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	height: auto;
	padding: 10px; /* Optional: add padding for better readability */
	font-family: 'Jura';
	font-size: 28px;
	transition: 0.25s ease;
}

@media screen and (max-width: 800px) {
		
	h1{
		font-weight: normal;
		margin: 0;
		font-size: 48px;
		letter-spacing: 8px;
		transition: 0.25s ease;
	}
	
	.links {
		font-family: 'Jura';
		font-size: 16px;
		transition: 0.25s ease;
	}
	
	#svg-container {
		width: 142px; /* Adjust according to your SVG's width */
		height: 18px; /* Adjust according to your SVG's height */
		transform: translate(10%, -75%); /* Adjust the translation */
		transition: 0.25s ease;
	}
	
	#br {
		position: fixed;
		bottom: 0;
		right: 0;
		width: auto;
		height: auto;
		padding: 13px; /* Optional: add padding for better readability */
		font-family: 'Jura';
		font-size: 22px;
		transition: 0.25s ease;
	}
	
}